{% extends 'base1.html' %}
{% block title %}Grocery Lists | Grocery Mate{% endblock %}
{% load static %}

{% block assetfiles %}
<link href="{% static '/css/grocery_lists.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2>
        <button class="btn btn-outline-primary" id="add-new-list-btn" type="button">Add New Grocery List</button>
    </h2>

    {% if not grocery_lists %}
    <div class="alert alert-dark" role="alert">
        Lets get you started. Start adding your grocery lists here!
    </div>
    {% endif %}

    <div class="">
        <ul class="list-group" id="grocery-lists-container">
            {% for item in grocery_lists %}
                <li class="list-group-item d-flex justify-content-between align-items-center" data-id={{item.ListID}}>
                    <a href="/grocery_items/{{item.ListID}}" class="grocery-list-item-link">
                        <span class="item-name">{{item.ListName}}</span>
                    </a>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-primary rename-btn"><i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger delete-btn"><i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Modals -->
<div class="modal" id="add-list-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add your new List</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="add-new-list-input">Please enter the name of the new list
                        below:</label>
                    <input class="form-control" id="add-new-list-input" placeholder="List Name"
                           type="text">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" id="add-new-list-modal-save" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static '/js/grocery_lists.js' %}"></script>

{% endblock %}

