{% extends 'base1.html' %}
{% block title %}Grocery Lists | Grocery Mate{% endblock %}
{% load static %}

{% block assetfiles %}
<link rel="stylesheet" href="{% static '/css/grocery_lists.css' %}">
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2>
        <button id="add-new-list-btn" type="button" class="btn btn-outline-primary">Add New Grocery List</button>
    </h2>

    <div class="">
        <ul id="grocery-lists-container" class="list-group">
        </ul>
    </div>
</div>

<!-- Modals -->
<div id="add-list-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add your new List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="add-new-list-input" class="form-label">Please enter the name of the new list
                        below:</label>
                    <input type="text" class="form-control" id="add-new-list-input"
                           placeholder="List Name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add-new-list-modal-save">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static '/js/grocery_lists.js' %}"></script>

{% endblock %}

