{% extends 'base1.html' %}
{% block title %}Grocery Items | Grocery Mate{% endblock %}
{% load static %}

{% block assetfiles %}
<link href="{% static '/css/grocery_items.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2 class="pb-5">
        {{ grocery_list_name }}
    </h2>
    <h5>
        Search for items to add to your list
    </h5>
    <div class="input-group pb-5">
        <input id="search-item-input" type="text" class="form-control" aria-label="Add Item to your grocery list">
        <button id="search-btn" type="button" class="btn btn-outline-secondary">Search</button>
    </div>

    <div class="grocery-items-div" id="grocery-items-div-id">
        <h5>Items</h5>
        <span class="container d-flex px-2">
            <span class="col-2">Name</span>
            <span class="text-center col-2">Brand</span>
            <span class="text-center col-2">Quantity</span>
            <span class="text-center col-2">Units</span>
            <span class="text-center col-2">Price</span>
        </span>
        <ul class="list-group" id="grocery-list-items-container">
            {% for item in grocery_list_items %}
                <li class="list-group-item d-flex align-items-center" data-id={{item.ItemID}}>
                    <a href="#" class="grocery-list-item-link col">
                        <span>{{item.PriceID.ProductID.ProductName}}</span>
                    </a>
                    <span class="text-center col">{{item.PriceID.ProductID.BrandID.BrandName}}</span>
                    <span class="text-center col">{{item.Quantity}}</span>
                    <span class="text-center col">{{item.Unit}}</span>
                    <div class="btn-group col" role="group">
                    <span class="text-center col" data-type="list-item-price">${{item.PriceID.Price}}</span>
                        <button type="button" class="btn btn-outline-primary rename-btn nutrition-info-btn" data-name="{{item.PriceID.ProductID.ProductName}}">Nutrition
                            Info</i>
                        </button>
                        <button type="button" class="btn btn-outline-danger delete-btn"><i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <h5 class="pt-4">Total</h5>
        <span id="total-cost"></span>
    </div>
</div>

<!-- Modals -->
<div class="modal" id="add-item-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Prices</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <span class="container d-flex px-3">
                    <span class="col-3">Chain</span>
                    <span class="col-3">Price</span>
                    <span class="col-3">
                        <div class="w-75 text-center quantity-header">Quantity</div>
                    </span>
                </span>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script src="{% static '/js/grocery_items.js' %}"></script>

{% endblock %}

