{% extends 'base1.html' %}
{% block title %}Grocery Items | Grocery Mate{% endblock %}
{% load static %}

{% block assetfiles %}
<link href="{% static '/css/grocery_items.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2 class="pb-5">
        {{ grocery_list_name }}
    </h2>
    <h5>
        Search for items to add to your list
    </h5>
    <div class="input-group pb-5">
        <input id="search-item-input" type="text" class="form-control" aria-label="Add Item to your grocery list">
        <button id="search-btn" type="button" class="btn btn-outline-secondary">Search</button>
<!--=======-->
<!--    <div class="input-group">-->
<!--        <input type="text" class="form-control" aria-label="Add Item to your grocery list" id="add-items-input">-->
<!--        <button type="button" class="btn btn-outline-secondary" id="add-items" data-list-id="{{listId}}">Add Item</button>-->
<!--&gt;>>>>>> Stashed changes-->
    </div>

    <div class="grocery-items-div" id="grocery-items-div-id">
        <h5>Items</h5>
        <span class="container d-flex px-3">
            <span class="col-6">Name</span>
            <span class="text-center col-2">Chain</span>
            <span class="text-center col-2">Price</span>
            <span class="col-2"></span>
        </span>
        <ul class="list-group" id="grocery-list-items-container">
            {% for item in grocery_list_items %}
                <li class="list-group-item d-flex justify-content-between align-items-center" data-id={{item.ItemID}}>
                    <a href="#" class="grocery-list-item-link col-6">
                        <span class="item-name">{{item.PriceID.ProductID.ProductName}}</span>
                    </a>
                    <span class="item-name text-center col-2">{{item.PriceID.ChainID.ChainName}}</span>
                    <span class="item-name text-center col-2">${{item.PriceID.Price}}</span>
                    <div class="btn-group col-2" role="group">
                        <button type="button" class="btn btn-outline-primary rename-btn nutrition-info-btn">Nutrition
                            Info</i>
                        </button>
                        <button type="button" class="btn btn-outline-danger delete-btn"><i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script src="{% static '/js/grocery_items.js' %}"></script>

{% endblock %}

