{% extends 'base.html' %}
{% block title %}Grocery Mate{% endblock %}

{% block content %}
{% load static %}
<link href="{% static '/css/login.css' %}" rel="stylesheet">
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    Your username and password didn't match. Please try again.
</div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<div class="alert alert-warning" role="alert">
    Your account doesn't have access to this page. To proceed, please login with an account that has access.
</div>
{% else %}
<div class="alert alert-info" role="alert">
    Please login to see this page.
</div>
{% endif %}
{% endif %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 75vh;">
    <div class="col-md-6">
        <div class="card shadow custom-card">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Login to Grocery Mate</h5>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3 text-center">
                        <label for="username" class="form-label fw-bold">Username: </label>
                        {{ form.username }}
                    </div>
                    <div class="form-group mb-3 text-center">
                        <label for="password" class="form-label fw-bold">Password: </label>
                        {{ form.password }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block custom-btn">Login</button>
                    </div>
                    <input name="next" type="hidden" value="{{ next }}">
                    <div class="text-center mt-3">
                        <a href="{% url 'password_reset' %}" class="text-primary">Forgot your password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}